Devices - Virtual Chassis Domain Name field length

### NetBox version

v3.7.3

### Feature type

Change to existing functionality

### Proposed functionality

Per bug entry #15713 the domain name field length is limited to 30 characters by design. Per [RFC 1035, section 2.3.4](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.4) the maximum size of the name can be "255 octets or less". After taking into account encoding, this could leave a potential max of 253 usable characters.

I would propose increasing the max of the Device - Virtual Chassis - Domain Name field length to 253. This would be in-line with the RFC.

### Use case

This would allow longer FQDN's to be used and still fall with in the RFC spec for naming. In our use case we utilize a multitude of domain names with multiple subdomains under them. In several cases the FQDN is longer than the current field length preventing us from fully documenting the FQDN associated with the chassis.

### Database changes

_No response_

### External dependencies

_No response_

A virtual chassis domain is not a domain name and thus RFC 1035 has no relevance. (The VC `domain` field should not be confused with a device's configured domain name used for DNS resolution.) Cisco IOS, for instance, permits the configuration of a numeric domain ID; other platforms may permit other formats but will employ a domain for the same reasons.